- title "Kontakt"

%h1 Ta kontakt

= form_for @message, url: contact_path do |form|
  = form.label "Ditt navn"
  = form.text_field :name

  = form.label "Din epostadresse"
  = form.text_field :email

  = form.label "Hva gjelder det?"
  = form.text_field :subject

  = form.label "Hva har du å melde?"
  = form.text_area :body

  = form.submit "Send til Lyche"
