!!! 5
%html
  %head
    %title
      Lyche
      = "» #{yield(:title)}" if content_for?(:title)
    
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    
  %body
    #page{ class: pageclass }
      %section#head
        %nav#mainmenu
          %ul.left
            %li= menu_link "Hjem", root_path
            %li= menu_link "Meny", menu_path
            %li= menu_link "Bordreservasjon", reservation_path
          %ul.right
            %li= menu_link "Informasjon", information_path
            %li= menu_link "Om Lyche", about_path
            %li= menu_link "Kontakt", contact_path
        .logo
          = link_to image_tag('head-logo.png'), root_path
      %section#body
        #content
          = yield
        - if pageclass == 'normal'
          #sidebar
            = yield(:sidebar)
      %section#foot
        %hr
        .left
          %strong= link_to "Sitemap", '#'
        .right
          %ul
            %li
              %strong Foto:
              = link_to "Under Dusken", 'http://underdusken.no'
            %li
              %strong Teknisk ansvarlig:
              = link_to "Jonas Myrlund", 'mailto:ksg-gjengsjef@samfundet.no'
        
        %br
        %p
          &copy;
          = link_to "Studentersamfundet i Trondhjem", 'http://samfundet.no'